.hero{
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 100;

  .hero-image{
    background: url("../../assets/imgs/hero-image-desktop.png") no-repeat center top / cover;
    min-height: 29rem;

    .content{
      margin-top: 3rem;
      position: relative;

      &::before{
        content: "";
        background-color: var(--pink-low);
        position: absolute;
        z-index: -1;
        inset: 0;
        height: calc(100vh + 3.5rem);
        filter: blur(18.75rem);
      }

      h1{
        width: min(100%, 41rem);
        margin: 0 auto 1rem;
      }

      p{
        width: min(100%, 31rem);
        margin-inline: auto;

        font-size: var(--body-lg);
        line-height: 1.4;

        padding-bottom: 12.125rem;
      }
    }
  }

  .hero-animation{
    min-height: 15.6875rem;
    max-width: 25rem;
    
    margin: 2rem auto 0;
    padding: 1.75rem 1.25rem;

    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    .subtitle{
      margin-inline: auto;
      opacity: .5;

      font-size: var(--subtitle);
      line-height: 1.4;
    }

    img[src*="opened"], img[src*="crystal"]{
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0;
    }

    img[src*="opened"]{
      top: 2rem;
      right: 4.5rem;
    }

    img[src*="crystal"]{
      bottom: 3.25rem;
      right: 3.25rem;
    }
  }
}

@media screen and (width >= 1280px) {
  .hero{
    .hero-image{
      min-height: 59.25rem;

      .content{
        margin-top: 10.25rem;

        h1{
          margin-bottom: 2rem;
        }

        p{
          padding-bottom: 29.375rem;
        }
      }
    }

    .hero-animation{
      max-width: 75rem;
      min-height: 25rem;

      margin-top: 6rem;
      padding-inline: 2rem;

      img[src*="opened"]{
        width: 5.5rem;
        height: 5.5rem;
      }

      .subtitle{
        line-height: 2;
      }

      img[src*="opened"]{
        width: 4.5rem;
        height: 4.5rem;

        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
      }

      img[src*="crystal"]{
        width: 4.5rem;
        height: 4.5rem;

        bottom: 4.25rem;
        right: 1rem;
        transform: rotate(-45deg);
      }
    }
  }
}