.hero{
  width: 100%;
  text-align: center;
  position: relative;
  
  &::before{
    content: "";
    position: absolute;
    inset: 0;
    
    background-color: var(--pink-low);
    filter: blur(18.75rem);
    height: 100%;
    width: 100%;
  }

  .hero-image{
    background: url("../../assets/imgs/hero-image.png") no-repeat center top / cover;
    min-height: 29rem;

    position: sticky;
    z-index: 100;

    .content{
      margin-top: 3rem;
      position: relative;

      h1{
        width: min(100%, 41rem);
        margin: 0 auto 1rem;
      }

      p{
        width: min(100%, 31rem);
        margin-inline: auto;

        font-size: var(--body-lg);
        line-height: 1.4;

        padding-bottom: 12.125rem;
      }
    }
  }

  .hero-animation{
    min-height: 15.6875rem;
    max-width: 25rem;
    
    margin: 2rem auto 0;
    padding: 1.75rem 1.25rem;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    .subtitle{
      margin-inline: auto;
      font-size: var(--subtitle);
      line-height: 1.4;
      
      span{
        opacity: .5;

        &.first-span{
          animation: textAppear 150ms ease-in-out forwards;

          & > strong{
            animation: paintBlue 150ms ease-in-out forwards;

          }
        }

        &.second-span{
          animation: textAppear 150ms ease-in-out 1s forwards;

          & > strong{
            animation: paintBlue 150ms ease-in-out 1s forwards;

          }
        }

        &.third-span{
          animation: textAppear 150ms ease-in-out 2s forwards;

          & > strong{
            animation: paintBlue 150ms ease-in-out 2s forwards;
          }
        }
      }
    }

    img[src*="opened"], img[src*="crystal"]{
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;

      transform: scale(0);
    }

    img[src*="opened"]{
      top: 2rem;
      right: 4.5rem;

      animation: assetsAppear 350ms ease-in-out forwards;
    }

    img[src*="crystal"]{
      bottom: 3.25rem;
      right: 3.25rem;

      animation: assetsAppear 250ms ease-in-out 2s forwards;
    }
  }
}

@media screen and (width >= 1280px) {
  .hero{
    &::before{
      filter: blur(68rem);
    }

    .hero-image{
      min-height: 59.25rem;

      .content{
        margin-top: 10.25rem;

        h1{
          margin-bottom: 2rem;
        }

        p{
          padding-bottom: 29.375rem;
        }
      }
    }

    .hero-animation{
      max-width: 75rem;
      min-height: 25rem;

      margin-top: 6rem;
      padding-inline: 2rem;

      img[src*="opened"]{
        width: 4.5rem;
        height: 4.5rem;

        top: 4rem;
        left: 50%;
        transform: translateX(-50%), scale(0);
      }

      .subtitle{
        line-height: 2;
      }

      img[src*="crystal"]{
        width: 4.5rem;
        height: 4.5rem;

        bottom: 4.25rem;
        right: 1rem;
        transform: rotate(-45deg), scale(0);
      }
    }
  }
}

@keyframes textAppear {
  100%{
    opacity: 1;
  }
}

@keyframes paintBlue{
  100%{
    color: var(--blue-light);
  }
}

@keyframes assetsAppear {
  100%{
    transform: scale(1);
  }
}